body{
    margin: 0;
}
.navbar {
    display: flex;
    color: rgb(120, 136, 221);
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    background-color: rgba(100, 77, 243, 0.1);
}

.navbar_logo {
    font-size: 24px;
    color: gray;
}

.navbar_logo i {
    color: rgb(48, 42, 54);
}
.navbar_menu{
    display: flex;
    list-style: none;
    padding-left: 0;


}
.navbar_menu li:hover{
    background-color:rgb(31, 33, 66);
    border-radius: 5px;
}
.navbar_menu li {
    padding: 8px 12px;
    
}

.navbar_icons {
    list-style:none;
    color: navy;
    display: flex;
    padding-left: 0;

}
.navbar_icons li{
    padding: 8px 12px;
}
.navbar_tbn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 50px;
    color: rgb(255, 255, 255);
}
@media screen and (max-width: 768px) {
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px, 24px;
    }
    .navbar_menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;

    }
    .navbar_menu li {
        width: 100%;
        text-align: center;
    }
    .navbar_icons {
        display: none;
        justify-content: center;
        width: 100%;
     
    }
    .navbar_tbn{
        display: block;
    }
    .navbar_menu.active,
    .navbar_icons.active {
        display: flex;
    }
}

