
    <head>
        <title>HongStockDB</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/initial.css') }}"> <!--공통 CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    </head>
    <body>


        <div class="wrap">
            <div id = "Title" style="margin:20px">
                    Research
            </div>
            
            <div class="form-wrap" style="height:550px">
                <div class="button-wrap">
                    <div id="btn"></div>
                    <button type="button" class="togglebtn" onclick="login()">Train</button>
                    <button type="button" class="togglebtn" onclick="register()">Predict</button>
                </div>

                <form id="login" action="/research" class="input-group" method="POST" style="top: 100px">
                    <input type="text" class="input-field" placeholder="Enter Ticker" name="ticker"><br>
                    <input type="text" class="input-field" placeholder="Enter Start Date" name="start_date"><br>
                    <input type="text" class="input-field" placeholder="Enter End Date" name="end_date"><br>
                    <input type="text" class="input-field" placeholder="Enter Hidden Layers Size" name="hidden_layer"><br>
                    <input type="text" class="input-field" placeholder="Enter Stack Size" name="stack_size"><br>
                    <input type="text" class="input-field" placeholder="Enter Train Window Size" name="train_window"><br>
                    <input type="text" class="input-field" placeholder="Enter Learning Rate" name="learning_rate"><br>
                    <input type="text" class="input-field" placeholder="Enter Epoch" name="epoch"><br>
                    <button class="submit">Train</button>
                </form>
                <form id="register" action="/predict" class="input-group" method="POST">
                    <input type="text" class="input-field" placeholder="Enter Ticker" name="ticker"required><br>
                    <input type="text" class="input-field" placeholder="Enter Day Start to Forecast" name="end_date"required><br>
                    <button class="submit">Predict</button>
                </form>
                
            </div>
        </div>
        <script>
            var x = document.getElementById("login");
            var y = document.getElementById("register");
            var z = document.getElementById("btn");

            function login(){
                x.style.left = "50px";
                y.style.left = "450px";
                z.style.left = "0";
            }

            function register(){
                x.style.left = "-400px";
                y.style.left = "50px";
                z.style.left = "110px";
            }
        </script>

        {%with messages = get_flashed_messages()%}
        {%if messages %}
          <script type="text/javascript">
            alert("{{messages[-1]}}");
          </script>
          {%endif%}
        {%endwith%}

    </body>
</html>
