<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>


    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>



</head>

    



<body>
    <div id="demo">
 
                
<script>
    var a='{{date}}';
    var b='{{price}}';
    a=a.slice(1,-1);
    b=b.slice(1,-1);
    document.write(a);
    var c=a.split(',');
    var d=b.split(',');
    var data = [
  {
    x: c,
    y: d,
    type: 'scatter'
  }
];
    //Plotly.newPlot('demo', data);
    
</script>
</div>
</body>
</html>